### Eclipse ###
.classpath
.project
.settings/
.metadata

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Maven ###
target/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Thumbnails ###
._*

### Files that might appear on external disk ###
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

### Folder config file ###
Desktop.ini

### Recycle Bin used on file shares ###
$RECYCLE.BIN/

### Node ###
npm-debug.log
node_modules/
node_server/temp
